
<div class="col-md-3"></div>
<div class="col-md-6">
	<h2><%= @user.handle %><%=", #{@user.name}" if @user.name.length > 0 %></h2>
	<% if @following_status %>
		<%= link_to "Unfollow this user!", @follower, method: :delete %>
	<% else %>
		<%= link_to "Follow this user!", new_follower_path(@user) if @user != current_user %><br><br>
	<% end %>
	<% @user.posts.each do |post| %>
		<p>Post: <%= post.post_content %></p><br>
	<% end %>

</div>
