<div class="col-md-2"></div>
<div class="col-md-8">

<% if current_user != nil %>
	<%= link_to "All posts", posts_path %>
	<%= link_to "My follower's posts", followers_index_path %>
	<%= link_to "Who I'm following's posts", following_index_path %>
	<%= render "new" %>
<% end %>
<br>
<div id="posts">
	<% @posts.each do |post|%>
		<%= render "show_post", :post => post %>
	<% end %>
	</div>
</div>
