<div class="col-md-3"></div>
<div class="col-md-6">

<% if current_user %><a href="/posts/new">New Post</a><% end %>
<% @posts.each do |post|%>
	<div class="post_div">
		<span class="expiredate" value="<%= post.expired %>">Expiring at: <%= post.expired.strftime("%m/%d/%Y at %I:%M%p") %></span>
		<p>Post: <%= post.post_content %></p>

		<p>author: <%= link_to "#{post.user.handle}", user_path(post.user) %></p>
		<% if current_user %><a href="/posts/<%= post.id %>/comments/new">Reply</a> <% end %>
		<% post.comments.each do |comment|%>
			<p>Comment: <%= comment.comment_content %></p>
			<p>comment_author: <%= link_to "#{comment.user.handle}", user_path(comment.user) %></p>
	<% end %>
	</div>	
	<% end %>

</div>


